<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Online strategy and consulting services</h1>
                <ul class="d-flex justify-content-center">
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home <span>/</span></a></li>
                    <li>Latest News</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <img [src]="postArray.img" class="card-img-top" alt="posts">
                    <div class="card-body">
                      <h5 class="card-title">{{postArray.title}}</h5>
                      <p class="card-text">
                        Every business needs a way to tell its customers about its products and services. Those marketing channels differ from one business to another and can change as the business grows. And just like everything else in business, marketing needs an investment. In the earliest stages of a startup, this investment is usually best spent developing a product customers need.
                        <br><br>
                        Imagine that you have just developed two brand new products. Product one has great signs of possible product-market fit based on customer interviews and the validation experiments data. Yet, you have no marketing budget for it. Product two is not validated at all, but you have a big marketing budget for it. Which product would you bet on?
                        </p>
                        <div class="qoutes">
                            <p>“Design is the method of putting form and content together. Design can be art. Design is so simple, that’s why it is so complicated.”</p>
                            <h3 class="autor">― Paul Rand</h3>
                        </div>
                        <p>
                        Most experienced founders would bet on product one because if product two doesn’t solve a problem, marketing will not save it.
                            <br><br>
                        Investments in marketing activities are a growth amplifier, while the real growth driver is product-market fit. If there is no product-market fit, there is simply nothing to amplify. Trying to market a business without product-market fit is like trying to build a house without a foundation.
                        <br><br>
                        In fact, investing in marketing too early in your startup's life cycle is a way to scale prematurely, which according to the Startup Genome project is the biggest startup killer.
                        <br><br>
                        Finally, note that marketing is one of those terms that have different meanings for different people. For most people, marketing investment is synonymous with spending for promotional purposes, which is what is focused on in this article. Yet, in theory, the full marketing mix includes product, place, price, and promotion. With this definition, practically all startups make some kind of marketing investment simply because the product is a part of the mix.
                        </p>
                        <div class="links">
                                <ul class="tags">
                                    <li><a href="#">design</a></li>
                                    <li><a href="#">marketing</a></li>
                                    <li><a href="#">software</a></li>
                                </ul>
                                <ul class="social">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                                    <li><a href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
                                </ul>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <form action="">
                    <input type="search" id="gsearch" name="gsearch" placeholder="Search...">
                    <button><i class="bi bi-search"></i></button>
                  </form>
                <h1 class="title">recent post</h1>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Valuing design leadership for the future of work</h5>
                                <p class="card-text"><small class="text-muted">Mar 14, 2021</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Valuing design leadership for the future of work</h5>
                                <p class="card-text"><small class="text-muted">Mar 14, 2021</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Valuing design leadership for the future of work</h5>
                                <p class="card-text"><small class="text-muted">Mar 14, 2021</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="title">Categories</h1>
                <ul>
                    <li>Business <span>10</span></li>
                    <li>Corporate <span>11</span></li>
                    <li>Design  <span>43</span></li>
                    <li>Development <span>11</span></li>
                    <li>Startup <span>25</span></li>
                    <li>Technology <span>2</span></li>
                </ul>
                <h1 class="title">tags</h1>
                <div class="tags">
                    <a href="#" class="btn">Startup</a>
                    <a href="#" class="btn">design</a>
                    <a href="#" class="btn">business</a>
                    <a href="#" class="btn">travel</a>
                    <a href="#" class="btn">leadership</a>
                    <a href="#" class="btn">apps</a>
                </div>
                <h1 class="title">instagram</h1>
                <div class="instagram">
                    <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" alt="">
                    <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" alt="">
                    <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" alt="">
                    <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" alt="">
                    <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" alt="">
                    <img src="../../assets/img/adult-analysis-brainstorming-coffee.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seventh-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Subscribe to our mailing list. Join our mail list to
                    receive our newsletter</h1>
                <h5>We'll keep you up to date with our latest news, insights, free resources, and much more.</h5>
                <form action="GET">
                    <input type="text" placeholder="Enter your email">
                    <button>subscribe</button>
                </form>
                <h6>Don't worry, we won't spam you.</h6>
            </div>
        </div>
    </div>
</section>