<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Online strategy and consulting services</h1>
                <ul class="d-flex justify-content-center">
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home <span>/</span></a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="first-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../assets/img/aboutLeft.png" alt="">
            </div>
            <div class="col-md-6">
                <h1>A brand & digital design agency 
                    for ambitious young businesses</h1>
                <p>We help founders and their teams build brands that push things forward.</p>
                <h2>Branding and design consulting</h2>
                <p>Prioritizing brands to understand behavior, solve complex challenges, and create mutually beneficial experiences.</p>
                <h2>Customer experience strategy</h2>
                <p>Prioritizing brands to understand behavior, solve complex challenges, and create mutually beneficial experiences.</p>
            </div>
        </div>
    </div>
</section>
<section class="second-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>We believe scaling startups require 
                    a radically different kind of agency</h1>
                <p>We start by listening and let that shape our design process, with our clients as partners every step of the way.
                    <br>
                    <br>
                    We create impactful digital experiences that attract and engage. We create and deliver data-driven customer experiences that achieve extraordinary outcomes.</p>
                <a href="#">Our Team</a>
            </div>
            <div class="col-md-6">
                <img src="../../assets/img/aboutimg.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="third-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <h1>Helping brands win today and grow tomorrow</h1>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/img/online-strategy.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                      <h5>Online Strategy</h5>
                      <p>We build and design custom websites that are aesthetically pleasing and functional.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/app-dev.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                      <h5>App Development</h5>
                      <p>We build and design custom websites that are aesthetically pleasing and functional.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/img/branding.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                      <h5>Branding Project</h5>
                      <p>We build and design custom websites that are aesthetically pleasing and functional.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/web-design.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                      <h5>Web Design</h5>
                      <p>We build and design custom websites that are aesthetically pleasing and functional.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/img/DIGITAL-MARKETING.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                      <h5>Digital Marketing</h5>
                      <p>We build and design custom websites that are aesthetically pleasing and functional.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/bussnes-card.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                      <h5>Business Cards</h5>
                      <p>We build and design custom websites that are aesthetically pleasing and functional.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fourth-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>They’re partners that inspire us to drive ongoing results</h1>
            </div>
            <div class="col-md-12">
                <ul class="d-flex align-items-center">
                    <li><a href="https://www.nike.com/" target="_blank"><img src="../../assets/img/nike-4.svg" alt="nike"></a></li>
                    <li><a href="https://www.spotify.com/" target="_blank"><img src="../../assets/img/spotify-1.svg" alt="spotify"></a></li>
                    <li><a href="https://www.google.com/" target="_blank"><img src="../../assets/img/google-2015.svg" alt="google"></a></li>
                    <li><a href="https://www.apple.com/" target="_blank"><img src="../../assets/img/apple-11.svg" alt="apple"></a></li>
                    <li><a href="https://www.amazon.com/" target="_blank"><img src="../../assets/img/amazon-2.svg" alt="amazon"></a></li>
                    <li><a href="https://news.airbnb.com/" target="_blank"><img src="../../assets/img/airbnb.svg" alt="airbnb"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="fifth-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Subscribe to our mailing list. Join our mail list to
                    receive our newsletter</h1>
                <h5>We'll keep you up to date with our latest news, insights, free resources, and much more.</h5>
                <form action="GET">
                    <input type="text" placeholder="Enter your email">
                    <button>subscribe</button>
                </form>
                <h6>Don't worry, we won't spam you.</h6>
            </div>
        </div>
    </div>
</section>
