<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Online strategy and consulting services</h1>
                <ul class="d-flex justify-content-center">
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home <span>/</span></a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="first-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Building websites to make your brand stand out from the noise</h1>
            </div>
            <div class="col-md-6">
                <p>We optimize your ability to sell online with our custom-crafted ecommerce solutions that are designed to help you succeed.</p>
            </div>
            <div class="col-md-3">
                <div class="card brand">
                    <div class="card-body">
                        <img src="../../assets/img/branding.png" class="card-img-top" alt="...">
                        <h5>Branding </h5>
                        <p>We help you from design to production for all your websites and apps.</p>
                        <a href="#">Learn More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card Campaign ">
                    <div class="card-body">
                        <img src="../../assets/img/Campaign.png" class="card-img-top" alt="...">
                        <h5>Campaign </h5>
                        <p>We help you from design to production for all your websites and apps.</p>
                        <a href="#">Learn More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card Design">
                    <div class="card-body">
                        <img src="../../assets/img/UX Design.png" class="card-img-top" alt="...">
                        <h5>UX Design </h5>
                        <p>We help you from design to production for all your websites and apps.</p>
                        <a href="#">Learn More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card Development">
                    <div class="card-body">
                        <img src="../../assets/img/Development.png" class="card-img-top" alt="...">
                        <h5>Development </h5>
                        <p>We help you from design to production for all your websites and apps.</p>
                        <a href="#">Learn More</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="second-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>See what our clients say about us and how we can help
                    your company and team, too</h1>
            </div>
            <div class="col-md-12">
                <app-swiperr></app-swiperr>
            </div>
        </div>
    </div>
</section>
<section class="third-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Pricing built for startups and businesses of all sizes</h1>
                <h5>Here’s a complete list of what we’ve built to help you make a living online.</h5>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Personal Business</h5>
                      <p class="card-text">Sell your digital products</p>
                      <h2>$29</h2>
                    </div>
                    <ul>
                      <li><i class="bi bi-check"></i> Up to 100 keywords</li>
                      <li><i class="bi bi-check"></i> Web server analysis</li>
                      <li><i class="bi bi-check"></i> Technical SEO audit</li>
                      <li><i class="bi bi-check"></i> Initial Development</li>
                    </ul>
                    <span>
                      <a href="#" class="card-link">Purchase</a>
                    </span>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Startup Business</h5>
                      <p class="card-text">Sell your digital products</p>
                      <h2>$39</h2>
                    </div>
                    <ul>
                      <li><i class="bi bi-check"></i> Up to 100 keywords</li>
                      <li><i class="bi bi-check"></i> Web server analysis</li>
                      <li><i class="bi bi-check"></i> Technical SEO audit</li>
                      <li><i class="bi bi-check"></i> Initial Development</li>
                    </ul>
                    <span>
                      <a href="#" class="card-link">Purchase</a>
                    </span>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Advanced Business</h5>
                      <p class="card-text">Sell your digital products</p>
                      <h2>$59</h2>
                    </div>
                    <ul>
                      <li><i class="bi bi-check"></i> Up to 100 keywords</li>
                      <li><i class="bi bi-check"></i> Web server analysis</li>
                      <li><i class="bi bi-check"></i> Technical SEO audit</li>
                      <li><i class="bi bi-check"></i> Initial Development</li>
                    </ul>
                    <span>
                      <a href="#" class="card-link">Purchase</a>
                    </span>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="fourth-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Subscribe to our mailing list. Join our mail list to
                    receive our newsletter</h1>
                <h5>We'll keep you up to date with our latest news, insights, free resources, and much more.</h5>
                <form action="GET">
                    <input type="text" placeholder="Enter your email">
                    <button>subscribe</button>
                </form>
                <h6>Don't worry, we won't spam you.</h6>
            </div>
        </div>
    </div>
</section>